<main id='content'>
</main>


<script type="text/javascript">
  window.petsyUrl = '<%= image_url('petsy.png')  %>'
  window.ursaUrl = '<%= image_url('petsy_background_3.png')%>'
  window.favoriteUrl = '<%= image_url('favorites.png')%>'
  window.profileUrl = '<%= image_url('profile.png') %>'
  window.googleUrl = '<%= image_url('google.png')%>'
</script>
